/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.s-th-hidden {
    padding: 0px !important;
    height: 0px;
}

.s-grid-container {
    display: flex; /* or inline-flex */
    flex-direction:column;
}

.s-grid {
    display: flex;
    flex-direction: column;
    position: relative;
}

    .s-grid .s-grid-head-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        overflow: hidden;
        position: relative;
    }

        .s-grid .s-grid-head-container > table {
            padding: 0px;
            margin: 0px;
        }

    .s-grid .s-grid-body-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        overflow: hidden;
        position: relative;
    }

        .s-grid .s-grid-body-container .s-grid-content > table {
            padding: 0px;
            margin: 0px;
        }

        .s-grid .s-grid-body-container .s-grid-head-content > table {
            padding: 0px;
            margin: 0px;
        }


.s-grid-content {
    width: 100%;
    min-height: 0;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    -ms-flex: 1;
    flex: 1;
}

.s-grid-head-content {
    width: 100%;
    min-height: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    -ms-flex: 1;
    flex: 1;
}

.s-grid-content::after {
    content: "";
    display: block;
    clear: both
}

.s-scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

.s-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.s-popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* The actual popup */
    .s-popup .s-popuptext {
        visibility: hidden;
        width: 60px;
        background-color: #555;
        /*color:white;*/
        border-radius: 2px;
        position: absolute;
        z-index: 1;
    }

    .s-popup .s-show {
        visibility: visible;
    }

.s-flex {
    display: flex !important;
    display: -ms-flexbox !important;
}

.s-flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.s-align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

.s-justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.s-align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.s-justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.s-align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.s-page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.s-pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.s-no-data {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>no data</text></svg>");
}

.s-visible {
    display: block;
}

.s-hidden {
    display: none;
}

* {
    font-size:10pt;
}