@namespace Samovar.Grid
@inherits DesignComponentBase

<div class="s-flex s-align-content-center s-justify-content-center" style="height:100%;background:lightgray;">
	<div class="s-align-self-center">no data to show</div>
</div>
