<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Samovar.Grid.Server.Test</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Basic sample
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-template">
                <span class="oi oi-home" aria-hidden="true"></span> Edit template
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cell-template">
                <span class="oi oi-home" aria-hidden="true"></span> Cell template
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filter">
                <span class="oi oi-home" aria-hidden="true"></span> Filter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="virtual">
                <span class="oi oi-plus" aria-hidden="true"></span> Virtual
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
