@using  System.Globalization
@typeparam T

@inherits SmDesignComponentBase

<th style="@(WidthStyle)" id="@(ColumnModel.HeaderCellId)">
    @if (((ICommandColumnModel)ColumnModel).NewButtonVisible.Value)
    {
        <div class="s-flex s-flex-row s-align-content-center s-justify-content-center">
            <button class="btn btn-primary btn-sm" @onclick="@RowInsering">new</button>
        </div>
    }
</th>