@typeparam T
@inherits SmDesignComponentBase
<table style="margin:0;table-layout:fixed;" class="@GridLayoutService.TableTagClass.SubjectValue">
    <thead class="@GridLayoutService.TheadTagClass.SubjectValue">
        <tr>
            <th>
                <div class="s-flex" style="margin:0px;padding:0px;flex-direction:column;">
                    <div>&nbsp;</div>
                </div>
            </th>
        </tr>
    </thead>
</table>