@using System.Globalization
@typeparam TItem
@inherits SmDesignComponentBase

<table style="margin:0;padding:0;table-layout:fixed;@(LayoutService.MinGridWidth.Value > 0 ? "min-width:" + LayoutService.MinGridWidth.Value.ToString(CultureInfo.InvariantCulture) + "px;" : "")" class="@LayoutService.TableTagClass.Value">
    <thead class="@LayoutService.TheadTagClass.Value">
        <tr>
            @{
                @if (LayoutService.ShowDetailRow.Value)
                {
                    <th style="@(GridColumnService.DetailExpanderColumnModel.WidthStyle + "padding-right:0;")" id="@(GridColumnService.DetailExpanderColumnModel.HeaderCellId)"></th>
                }

                foreach (var columnModel in GridColumnService.AllColumnModels)
                {
                    switch (columnModel.ColumnType)
                    {
                        case ColumnType.Data:
                            <GridHeaderCell ColumnModel=@((IDataColumnModel)columnModel) />
                            break;
                        case ColumnType.Command:
                            <GridHeaderCommandCell ColumnModel=@((ICommandColumnModel)columnModel) T="TItem" />
                            break;
                    }
                }
                <GridHeaderEmptyCell ColumnModel=@GridColumnService.EmptyColumnModel />
            }
        </tr>
    </thead>
</table>
