@page "/DataGridPrototype04"

@using Samovar.Grid.Prototypes.Data
@inject WeatherForecastService ForecastService

<p>Neuer Prototyp</p>
<div style="height:500px;">
    <DataGridPrototype04 Width="100%"/>
</div>
