@page "/DataGridPrototype03"

@using Samovar.Grid.Prototypes.Data
@inject WeatherForecastService ForecastService

<p>Alle Spalten haben einen absoluten Breitenwert</p>
<div class="d-flex flex-column" style="height:600px;width:600px;">
    <!--Header-->
    <div class="m-0 p-0" style="overflow:hidden;">
        <div style="position:relative;">
            <div class="d-flex flex-row">
                <div style="overflow:hidden;position:relative;" class="flex-grow-1">
                    <div style="position:absolute;">
                        <table class="table table-striped m-0 p-0" style="table-layout:fixed;">
                            <thead class="thead-light">
                                <tr>
                                    <th style="width:200px;">Col01</th>
                                    <th style="width:200px;">Col02</th>
                                    <th style="width:200px;">Col03</th>
                                    <th style="width:200px;">Col04</th>
                                    <th style="width:300px;">Col05</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div style="background-color:red;width:17px;" class="ml-auto">
                    <table class="table table-striped m-0 p-0" style="table-layout:fixed;">
                        <thead class="thead-light">
                            <tr>
                                <th style="width:17px;background-color:orangered;" class="px-0 m-0">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!--Body-->
    <div class="m-0 p-0 s-grid-content" style="overflow:auto;">
        <div style="position:relative;">
            <div style="position:absolute;">
                <table class="table table-striped m-0 p-0" style="table-layout:fixed;">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:200px;">Col01</th>
                            <th style="width:200px;">Col02</th>
                            <th style="width:200px;">Col03</th>
                            <th style="width:200px;">Col04</th>
                            <th style="width:300px;">Col05</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div style="position:relative;float:left;">
            <div style="height:30000px;"></div>
        </div>
    </div>
</div>