@page "/"

<input @onkeydown:preventDefault style="width:200px;" @onkeydown="(()=> { })"/>
    @*<h1>Hello, world!</h1>
    <div class="container mt-3">
        <h2>Vertical Direction</h2>
        <p>Use .flex-column to display the flex items vertically (on top of each other):</p>
        <div style="height:600px;">
            <div class="d-flex flex-row">
                <div class="flex-grow-1 bg-primary" style="overflow:hidden;">
                    <table class="table table-striped" style="table-layout:fixed;">
                        <thead class="thead-light">
                            <tr>
                                <th style="width:200px;">Col01</th>
                                <th style="width:200px;">Col02</th>
                                <th style="width:200px;">Col03</th>
                                <th style="width:200px;">Col04</th>
                                <th style="width:200px;">Col05</th>
                                <th style="width:200px;">Col06</th>
                                <th style="width:200px;">Col07</th>
                                <th style="width:200px;">Col08</th>
                                <th style="width:200px;">Col09</th>
                                <th style="width:200px;">Col10</th>
                                <th style="width:200px;">Col11</th>
                                <th style="width:200px;">Col12</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="background-color:orange;width:17px" class="ml-auto">
                </div>
            </div>
            <div class="flex-grow-1 m-0 p-0 bg-warning" style="overflow:auto;">
                <div style="position:relative;">
                    <div style="position:absolute;">
                        <div style="position:relative;">
                            <table class="table table-striped" style="table-layout:fixed;">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width:200px;">Col01</th>
                                        <th style="width:200px;">Col02</th>
                                        <th style="width:200px;">Col03</th>
                                        <th style="width:200px;">Col04</th>
                                        <th style="width:200px;">Col05</th>
                                        <th style="width:200px;">Col06</th>
                                        <th style="width:200px;">Col07</th>
                                        <th style="width:200px;">Col08</th>
                                        <th style="width:200px;">Col09</th>
                                        <th style="width:200px;">Col10</th>
                                        <th style="width:200px;">Col11</th>
                                        <th style="width:200px;">Col12</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jill</td>
                                        <td>Smith</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>Eve</td>
                                        <td>Jackson</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                    </tr>
                                    <tr>
                                        <td>Adam</td>
                                        <td>Johnson</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                    </tr>
                                    <tr>
                                        <td>Jill</td>
                                        <td>Smith</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>Eve</td>
                                        <td>Jackson</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                    </tr>
                                    <tr>
                                        <td>Adam</td>
                                        <td>Johnson</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                    </tr>
                                    <tr>
                                        <td>Jill</td>
                                        <td>Smith</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>Eve</td>
                                        <td>Jackson</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                    </tr>
                                    <tr>
                                        <td>Adam</td>
                                        <td>Johnson</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                    </tr>
                                    <tr>
                                        <td>Jill</td>
                                        <td>Smith</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>Eve</td>
                                        <td>Jackson</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                    </tr>
                                    <tr>
                                        <td>Adam</td>
                                        <td>Johnson</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                    </tr>
                                    <tr>
                                        <td>Jill</td>
                                        <td>Smith</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>Eve</td>
                                        <td>Jackson</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                    </tr>
                                    <tr>
                                        <td>Adam</td>
                                        <td>Johnson</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                    </tr>
                                    <tr>
                                        <td>Jill</td>
                                        <td>Smith</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>Eve</td>
                                        <td>Jackson</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                    </tr>
                                    <tr>
                                        <td>Adam</td>
                                        <td>Johnson</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                    </tr>
                                    <tr>
                                        <td>Jill</td>
                                        <td>Smith</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <td>Eve</td>
                                        <td>Jackson</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                        <td>94</td>
                                    </tr>
                                    <tr>
                                        <td>Adam</td>
                                        <td>Johnson</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                        <td>67</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div style="float:left;" id="virtualScroll_TranslatableDivId">
                        <div style="height:30000px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="s-grid" style="height:300px;">
     Visible header
    <div>
        <table class="table table-sm table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Col1</th>
                    <th>Col2</th>
                    <th>Col3</th>
                </tr>
            </thead>
        </table>
    </div>
    Table Body
    <div class="s-grid-container">
        <div id="innerGridId" class="s-grid-content">
            <div style="position: relative;">
                <div style="position:absolute;">
                    <table class="table table-sm table-bordered table-striped" cellspacing="0" style="padding:0px;margin:0px;table-layout:fixed;">
    at-ChildContent GridColumns.razor
    <thead class="thead-light" style="visibility:hidden;">
        <tr style="height:0px !important;">
            <th class="s-th-hidden p-0">Col1</th>
            <th class="s-th-hidden p-0">Col2</th>
            <th class="s-th-hidden p-0">Col3</th>
        </tr>
    </thead>
    GridBody /
    <tbody>
                                <tr>
                                    <td>data1</td>
                                    <td>data1</td>
                                    <td>data1</td>
                                </tr>
                                <tr>
                                    <td>data1</td>
                                    <td>data1</td>
                                    <td>data1</td>
                                </tr>
                                <tr>
                                    <td>data1</td>
                                    <td>data1</td>
                                    <td>data1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <h3>Containerbreite ist nicht fest definiert</h3>
    Containerbreite ist nicht fest definiert
    <div class="s-grid">
        <div class="s-grid-head-container">
            <div class="s-grid-head-content" style="overflow-x:hidden;width:3600px;">
                <table style="width:3600px;table-layout:fixed;">
                    <tr>
                        <th style="width:300px;">FirstName</th>
                        <th style="width:300px;">LastName</th>
                        <th style="width:300px;">Points_1</th>
                        <th style="width:300px;">Points_2</th>
                        <th style="width:300px;">Points_3</th>
                        <th style="width:300px;">Points_4</th>
                        <th style="width:300px;">Points_5</th>
                        <th style="width:300px;">Points_6</th>
                        <th style="width:300px;">Points_7</th>
                        <th style="width:300px;">Points_8</th>
                        <th style="width:300px;">Points_9</th>
                        <th style="width:300px;">Points_0</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="s-grid-container">
            <div class="s-grid-content" style="overflow-x:scroll;width:3600px;">
                <table style="width:3600px;table-layout:fixed;">
                    <tr>
                        <th style="width:300px;">FirstName</th>
                        <th style="width:300px;">LastName</th>
                        <th style="width:300px;">Points_1</th>
                        <th style="width:300px;">Points_2</th>
                        <th style="width:300px;">Points_3</th>
                        <th style="width:300px;">Points_4</th>
                        <th style="width:300px;">Points_5</th>
                        <th style="width:300px;">Points_6</th>
                        <th style="width:300px;">Points_7</th>
                        <th style="width:300px;">Points_8</th>
                        <th style="width:300px;">Points_9</th>
                        <th style="width:300px;">Points_0</th>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                    </tr>
                    <tr>
                        <td>Adam</td>
                        <td>Johnson</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <h3>Containerbreite ist fest definiert</h3>
    Containerbreite ist fest definiert
    <div class="s-grid" style="width:600px;height:550px;">
        <div class="s-grid-head-container">
            <div class="s-grid-head-content">

                <table style="width:3600px;table-layout:fixed;">
                    <tr>
                        <th style="width:300px;">FirstName</th>
                        <th style="width:300px;">LastName</th>
                        <th style="width:300px;">Points_1</th>
                        <th style="width:300px;">Points_2</th>
                        <th style="width: 300px;">Points_3</th>
                        <th style="width:300px;">Points_4</th>
                        <th style="width:300px;">Points_5</th>
                        <th style="width:300px;">Points_6</th>
                        <th style="width:300px;">Points_7</th>
                        <th style="width:300px;">Points_8</th>
                        <th style="width:300px;">Points_9</th>
                        <th style="width:300px;">Points_0</th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="s-grid-container">
            <div class="s-grid-content">
                <table style="width:3600px;table-layout:fixed;">
                    <tr>
                        <th style="width:300px;">FirstName</th>
                        <th style="width:300px;">LastName</th>
                        <th style="width:300px;">Points_1</th>
                        <th style="width:300px;">Points_2</th>
                        <th style="width:300px;">Points_3</th>
                        <th style="width:300px;">Points_4</th>
                        <th style="width:300px;">Points_5</th>
                        <th style="width:300px;">Points_6</th>
                        <th style="width:300px;">Points_7</th>
                        <th style="width:300px;">Points_8</th>
                        <th style="width:300px;">Points_9</th>
                        <th style="width:300px;">Points_0</th>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                        <td>94</td>
                    </tr>
                    <tr>
                        <td>Adam</td>
                        <td>Johnson</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                        <td>67</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>*@

@code{        
    
}