@page "/LoadAsync"
@using Data
@using Components

@inject WeatherForecastService DataService
<h1>Load async</h1>
<button @onclick="SetData">data reset</button>
@if (forecasts.Count == 0)
{
    <div>keine Daten</div>
}
else
{
    @foreach (var item in forecasts)
    {
        <Samovar.Grid.Prototypes.Components.MyDataRow ForecastData="item" />
    }
}

@code {

    List<WeatherForecast> forecasts = new List<WeatherForecast>();

    protected override async Task OnInitializedAsync()
    {
        await SetData();
    }
    
    async Task SetData() { 
        forecasts = (await DataService.GetForecastAsync(DateTime.Now)).ToList();
    }
}
