@using System.Globalization
@using Samovar.Blazor
@using Microsoft.AspNetCore.Components.Web.Virtualization

@typeparam T
@inherits SmDesignComponentBase

@switch (DataSourceState)
{
    case DataSourceState.NoData:
        <NoDataPanel />
        break;
    case DataSourceState.Loading:
        <SmDataGridLoadingSpinner />
        break;
    case DataSourceState.Idle:
    default:
        <div id=@ConstantService.InnerGridBodyId>
            <table id="@ConstantService.InnerGridBodyTableId" class=@LayoutService.TableTagClass.Value>
                <DataGridHiddenHeader />
                <tbody @ref="GridBodyRef" tabindex="0" id="@ConstantService.GridBodyId">
                    <Virtualize Items="@View.ToList()" Context="rowModel" SpacerElement="tr" @ref="virtualizeComponent">
                        <SmDataGridRow RowModel="rowModel" />
                    </Virtualize>
                </tbody>
            </table>

        </div>
        @* <DataGridScrollbar DeltaChangedCallback=@((offsetY) => VirtualScrollingService.ScrollTop.OnNext(-offsetY*(1000/200))) /> *@
        break;
}
