@using System.Globalization
@typeparam T
@inherits SmDesignComponentBase

<div style="position:relative;display:flex;flex-direction:row;">
	<div style="position:relative;overflow:hidden;flex-grow:1;" id="@ConstantService.GridFilterContainerId">
		<div style="position:relative;">
			<DataGridFilterRow TItem=T />
		</div>
	</div>
</div>