@using System.Globalization
@using Samovar.Blazor;
@typeparam T
@inherits SmDesignComponentBase

@switch (DataSourceState)
{
    case DataSourceState.NoData:
        <NoDataPanel />
        break;
    case DataSourceState.Loading:
        <SmDataGridLoadingSpinner />
        break;
    case DataSourceState.Idle:
    default:
        <div>
            <table id="@ConstantService.InnerGridBodyTableId" class="@LayoutService.TableTagClass.Value" style="table-layout:fixed;@(LayoutService.MinGridWidth.Value > 0 ? "min-width:" + LayoutService.MinGridWidth.Value.ToString(CultureInfo.InvariantCulture) + "px;" : "")">
                <DataGridHiddenHeader />
                <tbody @ref="GridBodyRef" tabindex="0" id="@ConstantService.GridBodyId">
                    @if (View != null)
                    {
                        @foreach (var rowModel in View)
                        {
                            <SmDataGridRow RowModel="rowModel" />
                        }
                    }
                </tbody>
            </table>
        </div>
        break;
}
