@* @using System.Globalization
@typeparam TItem
@inherits SmDesignComponentBase

@switch (_dataSourceState)
{
    case DataSourceStateEnum.NoData:
        <div class="s-flex s-align-content-center s-justify-content-center" style="height:100%;background:lightgray;">
            <div class="s-align-self-center">no data to show</div>
        </div>
        break;
    case DataSourceStateEnum.Loading:
    case DataSourceStateEnum.Idle:
    default:
        @if (NavigationService.NavigationMode.Value == DataGridNavigationMode.Paging)
        {
            <DataGridBodyPagingTable TItem=TItem />
        }
        else
        {
            <DataGridBodyVirtualScrolling TItem=TItem />
        }
        break;
}

 *@