@using System.Globalization
@typeparam TItem
@inherits SmDesignComponentBase
<table id="@ConstantService.InnerGridBodyTableId" class="@LayoutService.TableTagClass.SubjectValue" style="table-layout:fixed;@(LayoutService.MinGridWidth.SubjectValue > 0 ? "min-width:" + LayoutService.MinGridWidth.SubjectValue.ToString(CultureInfo.InvariantCulture) + "px;" : "")">
    <DataGridHiddenHeader TItem=TItem />
    <tbody @ref="GridBodyRef" tabindex="0" id="@ConstantService.GridBodyId">
        @if (View != null) {
            @foreach (var rowModel in View)
            {
                <SmDataGridRow RowModel="rowModel" />
            }
        }
    </tbody>
</table>