@using System.Globalization
@using Samovar.Blazor;
@typeparam T
@inherits SmDesignComponentBase

@if (NavigationService.NavigationMode.Value == DataGridNavigationMode.VirtualScrolling)
{

    <div id=@ConstantService.InnerGridBodyId style=@($"transform:translateY({OffsetY.ToString(CultureInfo.InvariantCulture)}px);{ScrollStyle}")>
        <DataGridBody TItem=T />
    </div>
    <DataGridScrollbar DeltaChangedCallback=@((deltaY) => OffsetY = -deltaY*(1000/200)) /> 

}
else
{
    <DataGridBody TItem=T />
}