@using System.Globalization
@using Samovar.Blazor;
@typeparam T
@inherits SmDesignComponentBase

@switch (_dataSourceState)
{
    case DataSourceStateEnum.NoData:
        <div class="s-flex s-align-content-center s-justify-content-center" style="height:100%;background:lightgray;">
            <div class="s-align-self-center">no data to show</div>
        </div>
        break;
    case DataSourceStateEnum.Loading:
    case DataSourceStateEnum.Idle:
    default:
        <div id=@ConstantService.InnerGridBodyId>
            <DataGridBodyVirtualScrolling TItem=T />
        </div>
        <DataGridScrollbar DeltaChangedCallback=@((offsetY) => VirtualScrollingService.ScrollTop.OnNext(-offsetY*(1000/200))) />
        break;
}
