@using System.Globalization
@typeparam T
@inherits SmDesignComponentBase

<div style="position:relative;display:flex;flex-direction:row;">
	<div style="overflow:hidden;position:relative;flex-grow:1;" id="@ConstantService.GridHeaderContainerId">
		<div style="position:relative;" class="s-noselect">
			<SmDataGridHeader TItem=T />
		</div>
	</div>
</div>
