@using System.Globalization
@using Microsoft.AspNetCore.Components.Web.Virtualization
@typeparam TItem
@inherits SmDesignComponentBase

@if (View != null)
{
    <table id="@ConstantService.InnerGridBodyTableId" class=@LayoutService.TableTagClass.Value>
        <DataGridHiddenHeader />
        <tbody @ref="GridBodyRef" tabindex="0" id="@ConstantService.GridBodyId">
            <Virtualize Items="@View.ToList()" Context="rowModel" SpacerElement="tr" @ref="virtualizeComponent">
                <SmDataGridRow RowModel="rowModel" />
            </Virtualize>
        </tbody>
    </table>
}