@inherits SmDesignComponentBase
<table style="margin:0;table-layout:fixed;min-height:@(LayoutService.FilterRowHeight.ToString(System.Globalization.CultureInfo.InvariantCulture)+"px;")" class="@LayoutService.TableTagClass.Value">
    <thead class="@LayoutService.TheadTagClass.Value">
        <tr>
            <th>
                <div style="margin:0px;padding:0px;">
                    &nbsp;
                </div>
            </th>
        </tr>
    </thead>
</table>