@typeparam TItem
@inherits SmDesignComponentBase
<table style="margin:0;table-layout:fixed;min-height:@(LayoutService.FilterRowHeight.ToString(System.Globalization.CultureInfo.InvariantCulture)+"px;")" class="@LayoutService.TableTagClass.Value">
    <thead class="@LayoutService.TheadTagClass.Value">
        <tr>
            <th>
                <div style="margin:0px;padding:0px;">
                    &nbsp;
                </div>
            </th>
        </tr>
    </thead>
</table>

@*<table style="margin:0;padding:0;table-layout:fixed;" class="@LayoutService.TableTagClass.SubjectValue">
    <thead class="@LayoutService.TheadTagClass.SubjectValue">
        <tr style="height:@(LayoutService.FilterRowHeight.ToString(System.Globalization.CultureInfo.InvariantCulture)+"px;")">
            <th>
                <div>&nbsp;</div>
            </th>
        </tr>
    </thead>
</table>*@