@namespace Samovar.Blazor
@using Samovar.Blazor
@using System.Globalization
@using Microsoft.AspNetCore.Components.Web.Virtualization

@typeparam T
@inherits SmDesignComponentBase

@switch (DataSourceState)
{
    case DataSourceState.NoData:
        <NoDataPanel />
        break;
    case DataSourceState.Loading:
        <LoadingSpinner />
        break;
    case DataSourceState.Idle:
    default:
        <div id=@ConstantService.InnerGridBodyId>
            <table id="@ConstantService.InnerGridBodyTableId" class=@LayoutService.TableTagClass.Value>
                <GridHiddenHeader />
                <tbody @ref="GridBodyRef" tabindex="0" id="@ConstantService.GridBodyId">
                    <Virtualize Items="@View.ToList()" Context="rowModel" SpacerElement="tr" @ref="virtualizeComponent">
                        <GridRow RowModel="rowModel" />
                    </Virtualize>
                </tbody>
            </table>
        </div>
        break;
}
