@namespace Samovar.Blazor
@using System.Globalization
@typeparam T
@inherits SmDesignComponentBase

<div @ref="@LayoutService.GridOuterRef" class="s-grid-container" style="@Style.CssStyle" @onkeydown:stopPropagation="true">
	<div style="display:flex;flex-direction:column;">
		<GridHeader T=T />
		@if (LayoutService.FilterMode.Value == DataGridFilterMode.FilterRow)
		{
			<DataGridFilterRowPanel T=T />
		}
	</div>
	<div id="@ConstantService.InnerGridId" class="s-grid-content" @ref="@LayoutService.GridInnerRef" >
		@if (InsertingForm != null){ @InsertingForm }@*ist hier inline inserting form gemeint?*@
		<GridVirtualTablePanel T=T />
	</div>
</div>

@if (EditingPopup != null){	@EditingPopup }
@if (InsertingPopup != null){ @InsertingPopup }