@page "/scrollbartest"
@using System.Globalization
<!-- YourPage.razor -->

<select class="form-select" @bind:event="onchange" @bind=@myValue>
    <option value="true">True</option>
    <option value="false">False</option>
</select>

<div class="scroll-container">
    <div class="scroll-content" style=@($"transform:translateY({offsetY.ToString(CultureInfo.InvariantCulture)}px)")>
        <!-- Your content goes here -->
        @for (int i = 0; i < 50; i++)
        {
            <p>Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i</p>
        }
    </div>

    <CustomScrollbar DeltaChangedCallback=@((offsetY) => this.offsetY = -offsetY * (1000/200)) />
</div>
<style>
    .scroll-container {
        height: 200px;
        overflow: hidden;
        border: 1px solid #ccc;
        position: relative;
    }

    .scroll-content {
        height: 1000px; /* Adjust the height based on your content */
        padding: 10px;
        background-color: lightgray;
    }
</style>

@code {
    private string myValue { get; set; } = "false";
    private double offsetY { get; set; }
}