<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SamovarGridProServerTest</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 001. Data binding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_002_DataBinding_ObservableCollection">
                <span class="oi oi-home" aria-hidden="true"></span> 002. Data binding. Observable Collection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_003_Columns">
                <span class="oi oi-home" aria-hidden="true"></span> 003. Columns
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_004_CommandColumn">
                <span class="oi oi-home" aria-hidden="true"></span> 004. Command column
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_005_Filter">
                <span class="oi oi-home" aria-hidden="true"></span> 005. Filter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_006_CustomFilter">
                <span class="oi oi-home" aria-hidden="true"></span> 006. Custom Filter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_007_CellTemplating">
                <span class="oi oi-home" aria-hidden="true"></span> 007. Cell templating
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_008_Edit">
                <span class="oi oi-home" aria-hidden="true"></span> 008. Edit
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_009_EditTemplating">
                <span class="oi oi-home" aria-hidden="true"></span> 009. Edit templating
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_010_DetailRow">
                <span class="oi oi-home" aria-hidden="true"></span> 010. Detail Row
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_011_SingleItemSelection">
                <span class="oi oi-home" aria-hidden="true"></span> 011. Single Item Selection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_012_MultipleItemSelection">
                <span class="oi oi-home" aria-hidden="true"></span> 012. Multiple Item Selection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_013_Events">
                <span class="oi oi-home" aria-hidden="true"></span> 013. Events
            </NavLink>
        </li>






        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GridWidthHeight">
                <span class="oi oi-home" aria-hidden="true"></span> 006. Grid width and height
            </NavLink>
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_008_AutoGenerateColumns">
                <span class="oi oi-home" aria-hidden="true"></span> 008. Auto generate columns
            </NavLink>
        </li>







        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_120_MultipleItemSelectionBinding">
                <span class="oi oi-home" aria-hidden="true"></span> 120. Multiple Item Selection Binding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_122_GridBasicVirtualScroll">
                <span class="oi oi-home" aria-hidden="true"></span> 122. Grid basic (virtual scroll)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_984_GridColWidth">
                <span class="oi oi-home" aria-hidden="true"></span> 984. GridColWidth
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_985_BasicType">
                <span class="oi oi-home" aria-hidden="true"></span> 985. Basic Types
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_987_SingleItemSelectionBinding">
                <span class="oi oi-home" aria-hidden="true"></span> 987. Single Item Selection (Grid Prop.)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_989_CustomFilterExpression">
                <span class="oi oi-home" aria-hidden="true"></span> 989. Custom filter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_990_ComplexEntityType">
                <span class="oi oi-home" aria-hidden="true"></span> 990. Complex entity types
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_991_LoadDataInTemplate">
                <span class="oi oi-home" aria-hidden="true"></span> 991. Load Data in CellTemplate
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_992_manycolumns">
                <span class="oi oi-home" aria-hidden="true"></span> 992. Many columns
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_993_EditGridElementsInCodeBehind">
                <span class="oi oi-home" aria-hidden="true"></span> 993. Edit grid elements in code behind
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="994_tablealltypes">
                <span class="oi oi-home" aria-hidden="true"></span> 994. All types
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="_995_EmptyInitData">
                <span class="oi oi-home" aria-hidden="true"></span> 995. Empty init data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="griddatasize">
                <span class="oi oi-home" aria-hidden="true"></span> 996. Grid data size
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="griddatasize_virtual">
                <span class="oi oi-home" aria-hidden="true"></span> 997. Grid data size (virt)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LastingTestDataSize">
                <span class="oi oi-home" aria-hidden="true"></span> 998. Lasting test data size
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LastingTest">
                <span class="oi oi-home" aria-hidden="true"></span> 999. LastingTest
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TableBasicFullViewportHeight">
                <span class="oi oi-home" aria-hidden="true"></span> Full Viewport Height
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TableBasicDynamicColWidth">
                <span class="oi oi-home" aria-hidden="true"></span> Dynamic column width
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tablestyling">
                <span class="oi oi-home" aria-hidden="true"></span> Styling
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="virtualscroll">
                <span class="oi oi-home" aria-hidden="true"></span> Virtual scroll
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TableBasicDataIsNull">
                <span class="oi oi-home" aria-hidden="true"></span> TableBasicDataIsNull
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tablewithfilter">
                <span class="oi oi-home" aria-hidden="true"></span> Filter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dialog">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dialog
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
