@page "/scrollbartest"
@using System.Globalization
<!-- YourPage.razor -->

<div class="scroll-container">
    <div class="scroll-content" style=@($"transform:translateY({offsetY.ToString(CultureInfo.InvariantCulture)}px)")>
        <!-- Your content goes here -->
        @for (int i = 0; i < 50; i++)
        {
            <p>Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i Item @i</p>
        }
    </div>

    <CustomScrollbar DeltaChangedCallback=@((offsetY) => this.offsetY = -offsetY * (1000/200)) />
</div>
<style>
    .scroll-container {
        height: 200px;
        overflow: hidden;
        border: 1px solid #ccc;
        position: relative;
    }

    .scroll-content {
        height: 1000px; /* Adjust the height based on your content */
        padding: 10px;
        background-color: lightgray;
    }
</style>

@code {
    private double offsetY { get; set; }
}