@namespace Samovar.DataGrid
@typeparam TItem
<tr>
    @if (DataGrid.ShowDetailRow)
    {
        <td style="text-overflow:ellipsis !important;overflow: hidden !important;white-space: nowrap !important;">
            <div class="s-flex s-flex-row s-align-content-center s-justify-content-center"></div>
        </td>
    }
    <td style="text-overflow:ellipsis !important;overflow: hidden !important;white-space: nowrap !important;" colspan="@(GridColumnService.Columns.Where(c => c.Value.ColumnType == GridColumnType.Data || c.Value.ColumnType == GridColumnType.Command).Count())">
        @DataGrid.EditFormTemplate(RowModel.dataItem)
    </td>
</tr>