@using Microsoft.AspNetCore.Components

@if (isLoaded)
{
    <div>loaded (Pos. @Id)</div>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}


@code {

    private int id;

    [Parameter]
    public int Id
    {
        get { return id; }
        set {
            id = value;
            LoadData();
        }
    }

    bool isLoaded;
    //protected override async Task OnInitializedAsync()
    //{
    //    await Task.Run(() =>
    //    {
    //        System.Threading.Thread.Sleep(5000);
    //    });

    //    isLoaded = true;
    //}

    void LoadData()
    {
        isLoaded = false;
        
        Task.Run(() =>
        {
            System.Threading.Thread.Sleep(500);
            InvokeAsync(()=> { isLoaded = true; StateHasChanged(); });
        });

    }
}
