@*<div style="@Width">my div</div>

@code {
    [Parameter]
    public string Width { set; get; } = "background-color:bisque;";

    [Parameter]
    public EventCallback<string> WidthChanged { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }

    override protected void OnParametersSet() { 
    
    }
}*@