.custom-scrollbar {
    width: 8px;
    height: 200px; /* Set the height of your scrollbar thumb */
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.custom-scrollbar-thumb {
    width: 8px;
    height: 40px; /* Set the height of your scrollbar thumb */
    background-color: #888;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    position: absolute;
    right: 0;
    /*top: 0;*/
    /*transform: translateY(-50%);*/ /* Center vertically */
}

    .custom-scrollbar-thumb:hover {
        background-color: #555;
    }