@using System.Globalization
@using Microsoft.JSInterop

@inherits SmDesignComponentBase

<div class="custom-scrollbar">
    <div class="custom-scrollbar-thumb" id="customScrollbarThumb" @onmousedown="HandleMouseDown" style=@($"transform:translateY({newOffsetY.ToString(CultureInfo.InvariantCulture)}px);top:0;")></div>
</div>