@typeparam TItem
@inherits SmDesignComponentBase

<!-- Modal -->
<div style="display:block;" class="modal" @ref=Ref id=@Id data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="resize:both;overflow: auto;">
			<div class="modal-header" id=@($"{Id}header") style="cursor: move;">
				<h5 class="modal-title" id="staticBackdropLabel">@(EditingService.EditingFormTitleDelegate==null?"Edit item":EditingService.EditingFormTitleDelegate(RowModel.DataItem).Result)</h5>
				<button type="button" class="btn-close" aria-label="Close" @onclick="@(() => EditingService.RowEditCancel())"></button>
			</div>
			<div class="modal-body">
				<GridRowEditing_Body RowModel=RowModel />
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-primary mx-1" @onclick=@(() => EditingService.RowEditCommit())>update</button>
				<button class="btn btn-outline-secondary mx-1" @onclick=@(() => EditingService.RowEditCancel())>cancel</button>
			</div>
		</div>
	</div>
</div>
<div class="modal-backdrop fade show"></div>