<nav>
    <a href="#">SamovarGridPrototypes</a>
    <button @onclick="ToggleNavMenu">
        TOGGLE
    </button>
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul>
            <li>
                <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li>
                <NavLink href="datagridtest">DataGrid Test</NavLink>
            </li>
            <li>
                <NavLink href="counter">Counter</NavLink>
            </li>
            <li>
                <NavLink href="DataGridPrototype01">DataGridPrototype01</NavLink>
            </li>
            <li>
                <NavLink href="DataGridPrototype02">DataGridPrototype02</NavLink>
            </li>
            <li>
                <NavLink href="DataGridPrototype03">DataGridPrototype03</NavLink>
            </li>
            <li>
                <NavLink href="DataGridPrototype04">DataGridPrototype04</NavLink>
            </li>
            <li>
                <NavLink href="LoadAsync">LoadAsync</NavLink>
            </li>
            <li>
                <NavLink href="datalistgeneric">DataListGeneric</NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
