@typeparam TItem
<CascadingValue Value=this Name="datagrid-row">
    @if (!RowModel.IsLoaded)
    {
        <tr id="@RowModel.HtmlElementId">
            @foreach (var cellModel in GridColumnService.Columns)
            {
                <td style="text-overflow:ellipsis !important;overflow:hidden !important;white-space: nowrap !important;padding-right:0;"><div style="padding:0;margin:0;">...</div></td>
            }
        </tr>
    }
    else
    {
        @switch (RowModel.RowState)
        {
            case GridRowStatee.Editing:
                @if (DataGrid.EditFormTemplate != null)
                {
                    @switch (DataGrid.EditMode)
                    {
                        case GridEditMode.Form:
                            <GridRowEditing_FormTemplate TItem=TItem RowModel="RowModel" />
                            break;
                        case GridEditMode.Popup:
                            <GridRowEditing_PopupTemplate TItem=TItem RowModel="RowModel" />
                            break;
                    }
                }
                else
                {
                    @switch (DataGrid.EditMode)
                    {
                        case GridEditMode.Form:
                            <GridRowEditing_Form RowModel="RowModel" TItem=TItem />
                            break;
                        case GridEditMode.Popup:
                            <GridRow_Std RowModel="@RowModel" TItem=TItem />
                            <GridRowEditing_Popup RowModel="RowModel" />
                            break;
                    }
                }
                break;

            default:
                <GridRow_Std RowModel="@RowModel" TItem=TItem />
                break;
        }
    }
</CascadingValue>
