@typeparam TItem

<table style="margin:0;padding:0;table-layout:fixed;" class="@grid.TableTagClass">
    <thead class="@grid.TheadTagClass">
        <tr style="height:@(grid.FilterRowHeight.ToString(System.Globalization.CultureInfo.InvariantCulture)+"px;")">
            <th>
                <div>&nbsp;</div>
            </th>
        </tr>
    </thead>
</table>