@typeparam TItem

<table style="margin:0;table-layout:fixed;" class="@grid.TableTagClass">
    <thead class="@grid.TheadTagClass">
        <tr>
            <th>
                <div class="s-flex" style="margin:0px;padding:0px;flex-direction:column;">
                    <div>&nbsp;</div>
                </div>
            </th>
        </tr>
    </thead>
</table>
