@page "/_985_BasicType"

@using System.Linq

@using Samovar.Grid.Test.Server.Components

@inject WeatherForecastService ForecastService

<h1>Basic type</h1>

<SamovarGrid Data="@list">
    <GridColumns>
        <GridColumn Title="Summary" />
    </GridColumns>
</SamovarGrid>

@code{

    List<string> list = new List<string>();
    SamovarGrid<string> grid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        list = (await ForecastService.GetForecastAsync(DateTime.Now, 500)).Select(x => x.Summary).ToList();
    }
}