@using  System.Globalization

@inherits DataGridFilterCellBase<string>

<div class="s-flex s-flex-row">
    <input type="text" style="min-width:10px;" class="flex-grow-1 form-control" @bind="InnerValue" @bind:event="onchange" />
</div>
