@using System.Globalization
@inherits DataGridFilterCellBase<DateTime?>

<div class="s-flex s-flex-row">
    <input style="min-width:10px;" type="date" class="flex-grow-1 form-control" @bind="InnerValue" @bind:event="onchange" @bind:format="yyyy-MM-dd" />
</div>
