@using System.Globalization

@typeparam TValue
@inherits DataGridFilterCellBase<TValue>

<div class="s-flex s-flex-row">
    <input type="number" style="min-width:10px;" class="flex-grow-1 form-control" @bind="InnerValue" @bind:event="onchange" />
</div>