@using System.Globalization
@inherits DataGridFilterCellBase<char?>
<th style="@(((IDataColumnModel)ColMetadata).VisibleWidthStyle)" class="px-1" id="@(((IDataColumnModel)ColMetadata).FilterGridColumnCellId)" data-toggle="tooltip" data-placement="top" title="@(((IDataColumnModel)ColMetadata).Title.Value)">

<div class="s-flex s-flex-row">
    <input type="text" maxlength="1" style="min-width:10px;" class="flex-grow-1" @bind="InnerValue" @bind:event="onchange" />
</div>
</th>