@using System.Globalization
@inherits DataGridFilterCellBase<char?>

<div class="s-flex s-flex-row">
    <input type="text" maxlength="1" style="min-width:10px;" class="flex-grow-1" @bind="InnerValue" @bind:event="onchange" />
</div>