@namespace Samovar.Blazor.Filter
@using System.Globalization

@inherits SmDesignComponentBase

<th style="@(WidthStyle)" id="@(ColumnService.DetailExpanderColumnModel.FilterCellId)">
    <div style="margin:0px;padding:0px;overflow:hidden;cursor:pointer;display:block;">&nbsp;</div>
</th>